.bg{
    position: relative;
    background: linear-gradient(rgba(8,8,8,0.3),rgba(8,8,8,0.3)),url('https://t4.ftcdn.net/jpg/05/88/24/01/360_F_588240153_fJGL9Oj0QU9uxlGK9QSDzgfwZ31SaZ0r.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-content{
    text-align: center; 
    position: absolute;
    top: 40%;
    left: 30%;
 

}
.header-title{
    text-transform: uppercase;
    letter-spacing: 16px;
    color: #fff;
    font-size: 60px;
    margin-bottom: 40px;
}
.search-box{

    padding-top: 100px !important;
    padding-bottom: 20px !important;
}
.search-heading{
    font-size: 30px;
    margin-bottom: 16px;
}

.detailsPageContent {
    padding-top: 100px !important
  }